@import '_fonts';
@import '_vars';

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
}
body {
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #c5c5c5;
    overflow-x: hidden;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 499px) {
    .container {
        padding: 0 5px;
    }
}

.title {
    font-family: 'Raleway-Black';
    font-weight: 900;
    color: $text;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    span {
        font-family: 'Raleway-Thin';
        font-weight: 100;
    }
}
.subtitle {
    text-align: center;
    color: $text-grey;
    font-size: 18px;
    line-height: 25px;
    font-family: 'OpenSans-Light';
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
}