@import '_global';
@import '_vars';
@import '_fonts';

//start header

.header {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    margin-bottom: 135px;
    &__top {
        border-bottom: 1px solid #4a5060;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
    &__logo {
        position: absolute;
        z-index: 2;
        top: 0;
    }
    &__nav {
        margin-left: 165px;
    }   
    &__nav-item {
        display: inline-block;
        & + .header__nav-item {
            margin-left: 30px;
        }
    }
    &__nav-link {
        color: #fff;
        line-height: 20px;    
        border-bottom: 2px solid transparent;
        transition: all .5s;
        padding-top: 25px;
        padding-bottom: 35px;
        &:hover,
        &:focus {
            border-bottom: 2px solid $yellow;
        }
    }
    &__btn {
        font-family: 'Raleway-Bold';
        font-weight: 700;
        text-transform: uppercase;
        color: #1b1b1b;
        font-size: 12px;
        line-height: 20px;
        background-color: #fff;
        border-radius: 35px;
        padding: 18px 35px;
        border: none;
        margin-left: auto;
        cursor: pointer;
        transition: all .5s;
        margin-bottom: 20px;
        &:hover,
        &:focus {
            background-color: $darkgrey;
            color: #fff;
        }
    }
    &__main-title {
        margin-top: 190px;
        font-family: 'Lobster-Regular';
        font-weight: 400;
        font-size: 180px;
        line-height: 200px;
        color: #fff;
        margin-bottom: 180px;
    }
    &__grid-container {
        max-width: 1380px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 310px 369px;
    }
    &__grid-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    &__grid-inner {
        background-color: rgba(0, 0, 0, .251);
        width: 100%;
        height: 100%;
    }
    &__grid-text {
        color: #fff;
        font-size: 30px;
        line-height: 30px;
        font-family: 'Raleway-Black';
        font-weight: 900;
        text-transform: uppercase;
        position: absolute;
        left: 30px;
        bottom: 25px;
        span {
            font-family: 'Raleway-Thin';
            font-weight: 100;
        }
    }
    &__grid-text--title {
        position: static;
        font-size: 40px;
        line-height: 50px;
        color: $yellow;
        padding: 50px 80px;
    }
    &__grid-item--sweets {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    &__grid-item--food { 
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 5;
        grid-column-end: 10;
    }
    &__grid-item--meat { 
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 10;
        grid-column-end: 15;
    }
    &__grid-item--fruits {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 9;
        grid-column-end: 15;
    }
    &__grid-item--text {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 5;
        grid-column-end: 9;
    }
}

//end header

//start section slogan

.slogan{
    margin-bottom: 155px;
    &__inner {
        position: relative;
    }
    &__inner-picture {
        position: absolute;
        bottom: 35px;
        right: 380px;
        z-index: 3;
    }
    &__text {
        max-width: 525px;
        position: absolute;
        z-index: 5;
        right: 0;
        top: 0;
        font-size: 85px;
        line-height: 100px;
        font-family: 'Lobster-Regular';
        font-weight: 400;
        &--yellow {
            color: #fcdb5a;
        }
        &--pink {
            color: #db2985;
        }
        &--green {
            color:#72aa41;
        }
        &--orange {
            color: #f2a137;
        }
        &--blue {
            color: #4fb1c9;
        }
    }
}

//end slogan

//start services

.services {
    margin-bottom: 140px;
    &__subtitle {
        margin-bottom: 65px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner-item {
        text-align: center;
        transition: all .5s;
        color: $text;
        font-family: 'Raleway-Bold';
        font-weight: 700;
        font-size: 16px;
    }
    &__inner-img {
        margin-bottom: 30px;
        img {
            height: 56px;
        }
    }
    &__inner-item--pink:hover,
    &__inner-item--pink:focus {
        color: #ff6262;
    }
    &__inner-item--blue:hover,
    &__inner-item--blue:focus {
        color: #4fb1c9;
    }
    &__inner-item--yellow:hover,
    &__inner-item--yellow:focus {
        color: #ffc243;
    }
    &__inner-item--lightgreen:hover,
    &__inner-item--lightgreen:focus {
        color: #8eaa41;
    }
    &__inner-item--red:hover,
    &__inner-item--red:focus {
        color: #f2374d;
    }
    &__inner-item--green:hover,
    &__inner-item--green:focus {
        color: #4b811b;
    }

}

//end services

//start about

.about {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 450px;
    &__description {
        max-width: 535px;
        padding-top: 145px;
        padding-bottom: 220px;
    }
    &__description-title {
        margin-bottom: 25px;
        text-align: left;
        color: #fff;
    }
    &__description-text {
        margin-bottom: 45px;
    }
    &__description-btn {
        font-family: 'Raleway-Bold';
        font-weight: 700;
        text-transform: uppercase;
        color: #1b1b1b;
        font-size: 12px;
        line-height: 20px;
        background-color: $yellow;
        border-radius: 35px;
        padding: 20px 50px;
        border: none;
        cursor: pointer;
        transition: all .5s;
        margin-bottom: 20px;
        &:hover,
        &:focus {
            background-color: $darkgrey;
            color: #fff;
        }
    }
    &__examples {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        bottom: -315px;
    }
    &__examples-img img {
        display: block;
    }
    &__examples-item {
        max-width: 585px;
        width: 100%;
        display: flex;
    }
    &__examples-details {
        background-color: #fff;
        padding: 25px 40px;
    }
    &__examples-title {
        color: $text;
        font-size: 18px;
        font-family: 'Raleway-Bold';
        font-weight: 700;
        margin-bottom: 10px;
    }
    &__examples-text {
        color: #666666;
    }
}
//end about

//start progress

.progress {
    &__subtitle {
        margin-bottom: 65px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 150px;
    }
    &__inner-item {
        display: flex;
        align-items: center;
    }
    &__inner-img {
        margin-right: 30px;
    }
    &__inner-number {
        color: $text;
        font-family: 'Raleway-Black';
        font-weight: 900;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    &__inner-text {
        font-family: 'Raleway-Bold';
        font-weight: 700;
        font-size: 16px;
        color: $text;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 370px 370px;
    }
    &__grid-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .5s;
        &:hover .progress__grid-overlay,
        &:hover .progress__grid-text {
            opacity: 1;
        }
    }
    &__grid-overlay {
        background-color: rgba(36, 22, 16, .702);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all .5s;
    }
    &__grid-text {
        font-family: 'Raleway-Bold';
        font-weight: 700;
        color: #fff;
        opacity: 0;
    }
}
//end progress

//start timer

.timer {
    padding-top: 140px;
    text-align: center;
    &__subtitle {
        margin-bottom: 40px;
    }
    &__info {
        text-transform: uppercase;
        color: $text;
        font-size: 30px;
        line-height: 40px;
        font-family: 'Raleway-Black';
        font-weight: 900;
        margin-bottom: 20px;
    }
    &__block {
        display: flex;
        justify-content: center;
        font-size: 150px;
        line-height: 170px;
        font-family: 'OpenSans-Bold';
        font-weight: 700;
        margin-bottom: 40px;
        span {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    &__subject {
        font-size: 40px;
        line-height: 50px;
    }
    &__days {
        color: #db2985;
    }
    &__hours {
        color:#72aa41;
    }
    &__minutes {
        color: #4fb1c9;
    }
    &__btn {
        font-family: 'Raleway-Bold';
        font-weight: 700;
        text-transform: uppercase;
        color: #1b1b1b;
        font-size: 12px;
        line-height: 20px;
        background-color: $grey;
        border-radius: 35px;
        padding: 20px 50px;
        border: none;
        cursor: pointer;
        transition: all .5s;
        margin-bottom: 20px;
        &:hover,
        &:focus {
            background-color: $darkgrey;
            color: #fff;
        }
    }
}
//end timer

//start blog

.blog {
    padding-top: 140px;
    padding-bottom: 140px;
    text-align: right;
    &__subtitle {
        margin-bottom: 55px;
    }
    &__inner {
        display: flex;
    }
    &__inner-item {
        & + .blog__inner-item {
            margin-left: 30px;
        }
        max-width: 370px;
        width: 100%;
        min-height: 396px;
        position: relative;
        margin-bottom: 30px;
    }
    &__inner-box {
        width: 100%;
        height: 100%;
        background-color: rgba(11, 11, 11, .451);
    }
    &__inner-date {
        position: absolute;
        width: 60px;
        background-color: $yellow;
        padding: 15px;
        text-align: center;
        top: 0;
        left: 30px;
    }
    &__inner-number {
        font-family: 'Raleway-Black';
        font-weight: 900;
        color: $text;
        font-size: 25px;
        margin-bottom: 5px;
    }
    &__inner-month {
        font-size: 12px;
        color: #9a8841;
        font-family: 'Raleway-Bold';
        font-weight: 700;
    }
    &__inner-info {
        position: absolute;
        left: 0px;
        bottom: 0px;
        text-align: left;
        padding: 30px;
    }
    &__inner-subtitle {
        font-size: 12px;
        color: $yellow;
        margin-bottom: 10px;
    }
    &__inner-title {
        font-family: 'Raleway-Bold';
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #fff;
        transition: all .5s;
        &:hover,
        &:focus {
            color: gold;
        }
    }
    &__btn {
        font-family: 'Raleway-Bold';
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        background-color: #72aa41;
        border-radius: 35px;
        padding: 18px 35px;
        border: none;
        margin-left: auto;
        cursor: pointer;
        transition: all .5s;
        margin-bottom: 20px;
        &:hover,
        &:focus {
            background-color: $darkgrey;
            color: #fff;
        }
    }
}
//end blog

//start clients

.clients {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 135px;
    padding-bottom: 170px;
    &__title {
        color: #fff;
    }
    &__subtitle {
        color: $text-grey;
        margin-bottom: 50px;
    }
    &__slider-text {
        color: #fff;
        max-width: 990px;
        text-align: left;
        margin: 0 auto;
        font-size: 25px;
        line-height: 30px;
        position: relative;
        padding-left: 88px;
        margin-bottom: 44px;
        font-family: 'Raleway-Light';
        font-weight: 300;
        &::before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 35px;
            background-image: url(../images/icons/tips.png);
            background-position: top center;
            background-repeat: no-repeat;
        }

    }
    &__slider-photo img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }
    &__slider-author {
        display: flex;
        align-items: center;
        margin-left: 188px;
    }
    &__slider-position {
        margin-left: 20px;
        font-family: 'Raleway-Bold';
        font-weight: 700;
        font-size: 18px;    
        span {
            font-family: 'Raleway-Regular';
            font-weight: 400;
        }
    }
    .slick-slide {
        position: relative;
    }
    .slick-dots {
        position: absolute;
        right: 80px;
        bottom: 30px;
    }
    .slick-dots li {
        display: inline-block;
        & + li {
            margin-left: 13px;
        }
    }
    .slick-dots button {
        background-color: transparent;
        border-color: $yellow;
        border-radius: 50%;
        font-size: 0;
        width: 20px;
        height: 20px; 
        outline: none;
        cursor: pointer;
    }
    .slick-dots .slick-active button {
        background-color: $yellow;
    }
}

//end clients

//start partners

.partners {
    padding-top: 140px;
    padding-bottom: 140px;
    &__subtitle {
        margin-bottom: 50px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner-img {
        margin: 15px;
    }
}
//end partners

//start footer
.footer {
    background-color: #2e2e2e;
    &__inner {
        display: flex;
    }
    &__about {
        padding-bottom: 60px;
        border-bottom: 1px solid #414141;
    }
    &__inner-info {
       padding-top: 80px;
       max-width: 670px;
       width: 100%;
       margin: 0 170px 0 auto;
    }
   &__inner-box {
       display: flex;
       margin-bottom: 70px;
   }
   &__inner-logo {
       margin-right: 155px;
   }
   &__inner-list + .footer__inner-list {
       margin-left: 75px;
   }
   &__inner-link {
        line-height: 30px;
        color: #aaa;
        border-bottom: 2px solid transparent;
        transition: all .5s;
        &:hover {
            border-bottom-color: $yellow;
            color: #fff;
        }
   }
   &__inner-email {
       margin-right: 90px;
   }
   &__inner-phone {
        margin-right: 100px;
    }
   &__email-subject {
        font-size: 12px;
        line-height: 25px;
        font-family: 'Raleway-Bold';
        font-weight: 700;
        text-transform: uppercase;
        color: $yellow;
   }
   &__email-name {
       color: #fff;
   }
   &__inner-contacts {
       display: flex;
   }
   &__social-link {
       transition: all .5s;
   }
   &__social-link:hover svg .cls-1 ,
   &__social-link:focus svg .cls-1 {
        fill: #fff;
   }
   &__social-link + .footer__social-link {
       margin-left: 10px;
   }
   &__copy {
       padding-top: 30px;
       padding-bottom: 30px;
   }
}
//end footer

//popup

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    padding-top: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s;
    &__content {
        max-width: 616px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        padding: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        font-family: 'Raleway-Bold';
        font-weight: 700;
        position: relative;
    }
    &__title {
        color: $darkgrey;
        text-transform: uppercase;
        padding-top: 20px;
        margin-bottom: 30px;
    }
    &__input {
        text-align: center;
        font-family: 'Lobster-Regular';
        padding: 15px;
        background-color: transparent;
        width: 100%;
        border: none;
        margin-bottom: 25px;
        border-bottom: 2px solid $darkgrey;
        color: #000;
        text-align: left;
    }    
    &__btn {
        text-transform: uppercase;
        color: #1b1b1b;
        font-size: 12px;
        line-height: 20px;
        background-color: $yellow;
        border-radius: 35px;
        padding: 18px 35px;
        border: none;
        margin-left: auto;
        cursor: pointer;
        transition: all .5s;
        margin-bottom: 20px;
        &:hover,
        &:focus {
            background-color: $darkgrey;
            color: #fff;
        }
    }
    &__close {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
        font-size: 2rem;
        color: #000;
    }
}
.faded {
    animation: faded .5s ease-in;
}
@keyframes faded {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


  